<input type="text" ng-model="thumbsStatus.status" ng-init="thumbsStatus={}">


<pre>{{instructorView.status | json}}</pre>


<h4>Student Choice</h4>
<pre>{{studentChoice.choice || 'null'}}</pre>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="studentChoice.choice" btn-radio="'Up'">Up</label>
    <label class="btn btn-primary" ng-model="studentChoice.choice" btn-radio="'Middle'">Middle</label>
    <label class="btn btn-primary" ng-model="studentChoice.choice" btn-radio="'Down'">Down</label>
</div>

<h4>Instructor View</h4>
<pre>{{instructorView2.choice || 'null'}}</pre>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="instructorView2.choice" btn-radio="'Up'">Up</label>
    <label class="btn btn-primary" ng-model="instructorView2.choice" btn-radio="'Middle'">Middle</label>
    <label class="btn btn-primary" ng-model="instructorView2.choice" btn-radio="'Down'">Down</label>
</div>


